<div class="row my-5">
  <div class="col-12">
    <div class="container text-center">
      <div id="about">
        <h2>About me...</h2>
        <p>Hi! 你好！こんにちは！ 안녕하세요! </p>
        <p></p>
      </div>
    </div>
  </div>
</div>
