<div class="banner-image">
  <div class="banner-text">

    <h1>Hi, I am Yin</h1>
    <p>Full-stack Web Developer</p>
    <%# <p style="font-size:14px">π« And a Mint chocoloate lover  λ―Όμ΄λ‹¨  γƒγƒ§γ‚³γƒγƒ³ε… π¤π’</p> %>
    <p style="font-size:14px;color: antiquewhite;">π—Ύ 47ιƒ½ι“εΊηε¶θ¦‡γ‚’η›®ζ‡γ™γ‚¨γƒ³γ‚Έγƒ‹γ‚Ά π’» </p>
    <div id="contact">
      <div class="d-flex justify-content-center">
        <div class="button-social d-flex justify-content-center">
          <i class="fa-brands fa-github"></i>
          <%= link_to "", "https://github.com/tyhyun309", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
