// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #F0A500;
$orange: #D65A31;
$green: #1EDD88;
$dark-gray: #0E0000;
$gray: #868686;
$light-gray: #F4F4F4;
$mint: #29A19C;
$navy: #171332;
$dark-mint: #2A5D67;
