<div class="container">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- Social Links Section -->
  <%#= partial 'partials/social' %>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
</div>
