<div class="container">
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Tech stack Section -->
  <%= partial 'partials/tech' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
</div>
